<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
    <body>
        <%- include('header') %>
        <form method="POST">
            <label for="title"></label>
            <input id="title" type="text" name="Crs_Title">
            <label for="enrollment"></label>
            <input id="enrollemnt" type="text" name="Crs_Enrollment">
            <input type="submit" value="Edit Course">
            <% if(error) { %>
                <p>Input Error</p>
                <% } %>
            
            <% if(Success) { %>
                <p>Successfully updated</p>
                <% } %>

        </form>
    </body>

</html>