<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
<body>

<div></div>
<a href="localhost:8000">Home</a>
<a href="localhost:8000/courses">Courses</a>
<a href="localhost:8000/create-course">Create Course</a>

</body>
</html>