
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
<body>
    <%- include('header') %>
<h1>Course Dashboard</h1>
<div class="container">
  <div>
    <h2>
        Total Courses
    </h2>
  </div>
  <div>
    <h2>
        Total Courses
    </h2>
  </div>
  <div>
    <h2>
        Total Courses
    </h2>
  </div>  
  <div>
    <h2>
        Total Courses
    </h2>
  </div>
  <div>
    <h2>
        Total Courses
    </h2>
  </div>
</div>

</body>
</html>